# Generic rules
.*
!.github/
!.gitignore
!.travis.yml

# IDE files
!.editorconfig
*.iml

# Node files
node_modules/
npm-debug.log

# Generated docs
site/
version/

# 3rd-party Python eggs installed in 'edit' mode
3rd-party/
