# Main requirements

# More recent 4.6 versions have inconsistent `Markdown` requirements
mkdocs-material==4.6.0
mkdocs~=1.0

Jinja2~=2.11
Pygments~=2.5
pygments-github-lexers~=0.0.5
-e git+https://github.com/exonum/mkdocs-codeinclude-plugin@3b77dd2f5c36f8623e88cdce007d1c2ee80ea5d0#egg=mkdocs_codeinclude_plugin
