# Main requirements

# More recent 4.6 versions have inconsistent `Markdown` requirements
mkdocs-material==4.6.0
mkdocs~=1.0

Jinja2~=2.11
Pygments~=2.5
pygments-github-lexers~=0.0.5
-e git+https://github.com/exonum/mkdocs-codeinclude-plugin@02e811ff#egg=mkdocs_codeinclude_plugin
